
@{
    ViewBag.Title = "BadTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="">
        <div class=""><img style="margin:0; padding:0" class="responsive-img" src="~/Content/ImageContent/main_id9.png"></div>
    </div>
</div>
<div class="container center">
    <div class="row">
        <br /><br /><br />
        <h4>
            Вы не отметили тест.
        </h4>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>Ваш результата не будет оценен!</h5>
            <br /><br /><br /><br />
        </div>
    </div>

</div>


