@{
    ViewBag.Title = "Контакты";
}
<div class="row no-mar-bottom">
    <div class="">
        <div class=""><img style="margin:0; padding:0" class="responsive-img" src="~/Content/ImageContent/main_id9.png"></div>
    </div>
</div>
<div class="container center">
    <div class="row">
        <h5>@ViewBag.Title.</h5>

        
    </div>
   
</div>
