nav{
    opacity: 0.5;
    background-color: #ffffff;
    display: inline-block;
    min-height: 140px;
    max-height: 200px;
    color: black;
    font-family: 'Roboto';
    .img-brand{
        padding: 5px;
        width: auto;
        max-height: 140px;
    }
      ul {
          margin-top: 1%;
        a{
            line-height: 60px;
            font-size: 18px;
            color: black !important;
        }
    }

    .side-nav{
        color: black;
    }
}
.card-content{
    height: 60px;
}